
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #304D30;
    color: #fff;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav li {
    margin-left: 2rem;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

.icons {
    display: flex;
    align-items: center;
}

.icons i {
    margin-left: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}

main {
    display: flex;
    padding: 2rem;
}

aside {
    width: 200px;
    background-color: #ADBC9F;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 2rem;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside li {
    margin-bottom: 1rem;
}

aside a {
    display: flex;
    align-items: center;
    color: #343a40;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

aside a:hover {
    background-color: #f8f9fa;
}

aside i {
    margin-right: 1rem;
}

.content {
    flex: 1;
}

.content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #343a40;
}

.content p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    color: #343a40;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 1rem;
}

.card-content h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #343a40;
}

.button-read {
    background-color: #304D30;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-read:hover {
    background-color: #212529;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav li {
        margin-bottom: 1rem;
    }

    main {
        flex-direction: column;
    }

    aside {
        margin-bottom: 2rem;
    }

    .card-container {
        grid-template-columns: 1fr;
    }
}