
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #304D30;
    color: #fff;
    padding: 1rem 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo img {
    height: 50px;
}

.nav ul {
    list-style: none;
    margin: 100;
    padding: 10;
    display: flex;
}

.nav li {
    margin-right: 5rem;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

.icons {
    display: flex;
}

.icons i {
    margin-left: 1rem;
    font-size: 1.5rem;
}

main {
    padding: 2rem 0;
}

aside {
    background-color: #ADBC9F;
    color: #fff;
    padding: 2rem;
    width: 20%;
    display: flex; 
    flex-direction: column; 
    height: 100vh; 
    overflow-y: auto; 
    border-radius: 13px;
  }
  
  aside table {
    width: 100%; 
    border-collapse: collapse; 
  }
  
  aside th, aside td {
    border: 1px solid #ddd; 
    padding: 0.5rem; 
    text-align: left; 
  }
  
  aside th {
    background-color: #f0f0f0; 
  }
    


aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

aside li {
    margin-bottom: 1rem;
}

aside a {
    color: #010101;
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    border-radius: 5px;
}

aside a:hover {
    background-color: #5e8a68;
}

section {
    background-color: #FBFADA;
    padding: 1rem;
    width: 80%;
    margin-left: 2%;
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
    height: 100vh; 
    overflow-y: auto; 
  }
  
  section table {
    width: 100%; 
    border-collapse: collapse; 
  }
  
  section th, section td {
    border: 1px solid #ddd; 
    padding: 0.5rem; 
    text-align: left; 
  }
  
  section th {
    background-color: #f0f0f0; 
  }

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.upload-file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.upload-file input[type="file"] {
    display: none;
    
}

.upload-file label {
    background-color: #304D30;
    color: #fff;
    padding: 0.5rem 5rem;
    border-radius: 5px;
    cursor: pointer;
}

.upload-file #file-name {
    margin-left: 1rem;
    
}

.upload-file .btn {
    background-color: #304D30;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.upload-file .btn:hover {
    background-color:  #ADBC9F;
}

.file-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
}

.file-item img {
    width: 200px;
    height: 100px;
    object-fit: cover;
}
 
.file-item .btn {
    background-color: #304D30;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.file-item .btn:hover {
    background-color: #ADBC9F;
}
