<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="stylesheets/FAQ.css">
    
    
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<body>
    <header>
        <div class="container">
            <div class="logo">
              <img src="/views/images/logo unand.png" alt="Logo Sistem Informasi KKN">
            </div>
            <div class="nav">
                <ul>
                  <li><a href="#">SISTEM INFORMASI KKN</a></li>
                    <li><a href="#">Kelompok Saya</a></li>
                    <li><a href="/views/galeri.ejs"><i class=""></i>&nbsp;Galeri</a></li>
                    <li><a href="#">Lokasi KKN</a></li>
                    <li><a href="/views/faq.ejs"><i class=""></i>&nbsp;FAQ</a></li>
                </ul>
            </div>
            <div class="icons">
              <i class="fas fa-bell" onclick="location.href='/views/notifikasi.ejs'"></i>
                <i class="fas fa-user"></i>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <aside>
                <ul>
                    <li><a href="#"><i class="fas fa-home"></i>&nbsp;Beranda</a></li>
<li><a href="#"><i class="fas fa-list-ul"></i>&nbsp;Pendaftaran KKN</a></li>
<li><a href="#"><i class="fas fa-users"></i>&nbsp;Pembagian Kelompok</a></li>
<li><a href="#"><i class="fas fa-chalkboard-teacher"></i>&nbsp;Bimbingan Teknis</a></li>
<li><a href="#"><i class="fas fa-clipboard-check"></i>&nbsp;Monitoring & Evaluasi</a></li>
<li><a href="#"><i class="fas fa-book"></i>&nbsp;Jurnal Kegiatan</a></li>
<li><a href="/views/laporan.ejs"><i class="fas fa-file-alt"></i>&nbsp;Pelaporan</a></li>
<li><a href="/views/penilaian.ejs"><i class="fas fa-user-tie"></i>&nbsp;Penilaian</a></li>
<li><a href="#"><i class="fas fa-box"></i>&nbsp; Arsip</a></li>
<li><a href="#"><i class="fas fa-comment"></i>&nbsp; Forum Diskusi</a></li>
                </ul>
              
            </aside>
            
            <body>
              
                <div class="container">
               
                  <ul class="faq-list">
                    <li class="faq-item">
                      <div class="faq-question">
                        <div class="question-box">
                          <h3>Apa Itu KKN?</h3>
                          <span class="plus-icon">+</span>
                        </div>
                      </div>
                      <div class="faq-answer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl ac fermentum laoreet, turpis ipsum tincidunt mauris, sit amet aliquet orci libero eu leo. Nulla facilisi. Maecenas scelerisque, mi ac scelerisque suscipit, ante nisl lobortis elit, ac tincidunt elit lacus quis diam. Mauris vel lectus sit amet diam faucibus facilisis id sed mauris.</p>
                      </div>
                    </li>
                    <li class="faq-item">
                      <div class="faq-question">
                        <div class="question-box">
                          <h3>Bagaimana Cara Mendaftar KKN?</h3>
                          <span class="plus-icon">+</span>
                        </div>
                      </div>
                      <div class="faq-answer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl ac fermentum laoreet, turpis ipsum tincidunt mauris, sit amet aliquet orci libero eu leo. Nulla facilisi. Maecenas scelerisque, mi ac scelerisque suscipit, ante nisl lobortis elit, ac tincidunt elit lacus quis diam. Mauris vel lectus sit amet diam faucibus facilisis id sed mauris.</p>
                      </div>
                    </li>
                    <li class="faq-item">
                      <div class="faq-question">
                        <div class="question-box">
                          <h3>Apa Yang Disiapkan Saat KKN?</h3>
                          <span class="plus-icon">+</span>
                        </div>
                      </div>
                      <div class="faq-answer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl ac fermentum laoreet, turpis ipsum tincidunt mauris, sit amet aliquet orci libero eu leo. Nulla facilisi. Maecenas scelerisque, mi ac scelerisque suscipit, ante nisl lobortis elit, ac tincidunt elit lacus quis diam. Mauris vel lectus sit amet diam faucibus facilisis id sed mauris.</p>
                      </div>
                    </li>
                    <li class="faq-item">
                      <div class="faq-question">
                        <div class="question-box">
                          <h3>Apa Syarat Mendaftar KKN?</h3>
                          <span class="plus-icon">+</span>
                        </div>
                      </div>
                      <div class="faq-answer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl ac fermentum laoreet, turpis ipsum tincidunt mauris, sit amet aliquet orci libero eu leo. Nulla facilisi. Maecenas scelerisque, mi ac scelerisque suscipit, ante nisl lobortis elit, ac tincidunt elit lacus quis diam. Mauris vel lectus sit amet diam faucibus facilisis id sed mauris.</p>
                      </div>
                    </li>
                    <li class="faq-item">
                      <div class="faq-question">
                        <div class="question-box">
                          <h3>Bagaimana Bimbingan Teknis KKN? </h3>
                          <span class="plus-icon">+</span>
                        </div>
                      </div>
                      <div class="faq-answer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl ac fermentum laoreet, turpis ipsum tincidunt mauris, sit amet aliquet orci libero eu leo. Nulla facilisi. Maecenas scelerisque, mi ac scelerisque suscipit, ante nisl lobortis elit, ac tincidunt elit lacus quis diam. Mauris vel lectus sit amet diam faucibus facilisis id sed mauris.</p>
                      </div>
                    </li>
                  </ul>
                </div>
                <script>
                 