<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifikasi</title>
    <link rel="stylesheet" href="stylesheets/notifikasi.css">
    
    
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="/views/images/logo unand.png" alt="Logo Sistem Informasi KKN">
            </div>
            <div class="nav">
                <ul>
                    <li><a href="#">SISTEM INFORMASI KKN</a></li>
                    <li><a href="#">Kelompok Saya</a></li>
                    <li><a href="/views/galeri.ejs"><i class=""></i>&nbsp;Galeri</a></li>
                    <li><a href="#">Lokasi KKN</a></li>
                    <li><a href="/views/faq.ejs"><i class=""></i>&nbsp;FAQ</a></li>
                </ul>
            </div>
            <div class="icons">
                <i class="fas fa-bell"></i>
                <i class="fas fa-user"></i>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <aside>
                <ul>
                    <li><a href="#"><i class="fas fa-home"></i>&nbsp;Beranda</a></li>
<li><a href="#"><i class="fas fa-list-ul"></i>&nbsp;Pendaftaran KKN</a></li>
<li><a href="#"><i class="fas fa-users"></i>&nbsp;Pembagian Kelompok</a></li>
<li><a href="#"><i class="fas fa-chalkboard-teacher"></i>&nbsp;Bimbingan Teknis</a></li>
<li><a href="#"><i class="fas fa-clipboard-check"></i>&nbsp;Monitoring & Evaluasi</a></li>
<li><a href="#"><i class="fas fa-book"></i>&nbsp;Jurnal Kegiatan</a></li>
<li><a href="/views/laporan.ejs"><i class="fas fa-file-alt"></i>&nbsp;Pelaporan</a></li>
<li><a href="/views/penilaian.ejs"><i class="fas fa-user-tie"></i>&nbsp;Penilaian</a></li>
 <li><a href="#"><i class="fas fa-box"></i>&nbsp; Arsip</a></li>
 <li><a href="#"><i class="fas fa-comment"></i>&nbsp; Forum Diskusi</a></li>
                </ul>
            </aside>
            <section>
                <h1>NOTIFIKASI</h1>
            </head>
            <body>
                <div class="notification-container">
                   
                    <ul>
                        
                        <li class="notification">
                            <div class="notification-content">
                                <p>Lakukan pendaftaran KKN mu segera!</p>
                            </div>
                            <div class="notification-icon">
                                <i class="fas fa-bell"></i>
                            </div>
                        </li>
                        <li class="notification">
                            <div class="notification-content">
                                <p>Buat laporan kegiatan mu segera!</p>
                            </div>
                            <div class="notification-icon">
                                <i class="fas fa-bell"></i>
                            </div>
                        </li>
                        <li class="notification">
                            <div class="notification-content">
                                <p>Lihat Jurnal Kegiatan!</p>
                            </div>
                            <div class="notification-icon">
                                <i class="fas fa-bell"></i>
                            </div>
                        </li>
                        <li class="notification">
                            <div class="notification-content">
                                <p>Lihat Bimbingan Teknis Kegiatan KKN !</p>
                            </div>
                            <div class="notification-icon">
                                <i class="fas fa-bell"></i>
                            </div>
                        </li>
                        <li class="notification">
                            <div class="notification-content">
                                <p>Buat laporan kegiatan mu segera!</p>
                            </div>
                            <div class="notification-icon">
                                <i class="fas fa-bell"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <script src="https://kit.fontawesome.com/your-font-awesome-kit-id.js" crossorigin="anonymous"></script>
                <script src="/javascripts/notification.js"></script>
            </body>
            </html>
                