<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifikasi</title>
    <link rel="stylesheet" href="stylesheets/home.css">
    
    
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<body>
    <header>
        <div class="container">
            <div class="logo unand.png">
                <img src="/tbkel6pweb/views/images/LOGO UNAND.png" alt="Logo Sistem Informasi KKN">
              
            </div>
            <div class="nav">
                <ul>
                    <li><a href="#">SISTEM INFORMASI KKN</a></li>
                    <li><a href="#">Kelompok Saya</a></li>
                    <li><a href="#">Galeri</a></li>
                    <li><a href="#">Lokasi KKN</a></li>
                    <li><a href="/views/faq.ejs"><i class=""></i>&nbsp;FAQ</a></li>
                </ul>
            </div>
            <div class="icons">
                <i class="fas fa-bell" onclick="location.href='/views/notifikasi.ejs'"></i>
                <i class="fas fa-user"></i>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <aside>
                <ul>
                  <li><a href="/tbkel6pweb/views/home.ejs"><i class="fas fa-home"></i>&nbsp;Home</a></li>
                  <li><a href="/tbkel6pweb/views/daftarkkn.ejs"><i class="fas fa-list-ul"></i>&nbsp;Pendaftaran KKN</a></li>
                  <li><a href="/tbkel6pweb/views/verifikasi.ejs"><i class="fas fa-list-ul"></i>&nbsp;Verifikasi</a></li>
                  <li><a href="/tbkel6pweb/views/bagikelompok.ejs"><i class="fas fa-user"></i>&nbsp;Pembagian Kelompok KKN</a></li>
                  <li><a href="#"><i class="fas fa-chalkboard-teacher"></i>&nbsp;Bimbingan Teknis</a></li>
                  <li><a href="#"><i class="fas fa-clipboard-check"></i>&nbsp;Monitoring & Evaluasi</a></li>
                  <li><a href="#"><i class="fas fa-book"></i>&nbsp;Jurnal Kegiatan</a></li>
                  <li><a href="#"><i class="fas fa-file-alt"></i>&nbsp;Pelaporan</a></li>
                  <li><a href="#"><i class="fas fa-user-tie"></i>&nbsp;Penilaian</a></li>
                  <li><a href="#"><i class="fas fa-box"></i>&nbsp; Arsip</a></li>
                  <li><a href="#"><i class="fas fa-comment"></i>&nbsp; Forum Diskusi</a></li>
                </ul>
            </aside>

  <section>
      <div class="container">
        <div class="content">
            <h1>Verifikasi Email</h1>
            <p>Kami telah mengirimkan email verifikasi ke alamat email Anda. Silakan periksa kotak masuk atau folder spam Anda.</p>
            <p>Jika Anda tidak menerima email dalam beberapa menit, Anda dapat mencoba mengirim ulang email verifikasi.</p>
            <button class="btn">Kirim Ulang Email</button>
            <button class="kembali-btn" onclick="location.href='/tbkel6pweb/views/bagikelompok.ejs'">Kembali</button>

        </div>
      </div>
</body>
</html>